<app-header></app-header>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="padding: 5px 10px 5px 10px; font-size:.9em; margin-bottom:0px">
        <li class="breadcrumb-item" *ngFor = "let element of linkpath">
                <a href="#/element">{{element}}</a>
        </li>      
    </ol>
</nav>


<router-outlet></router-outlet>


<app-footer></app-footer>