<li class="dropdown" style="float:left; margin-right:15px">
  <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <i class="fa fa-tasks fa-fw" *ngIf="tasks"></i>
    <span>{{tasks.length}}</span>
  </a>
  <ul class="dropdown-menu dropdown-tasks" style="width:310px; left:auto; right:0">
    <li *ngFor="let task of tasks">
      <a href="#">
        <div>
          <p>
            <strong>{{task.taskName}}</strong>
            <span class="pull-right text-muted">50% Complete</span>
          </p>
          <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
              [ngStyle]="{'width' : task.taskProgress +'%'}">
              <span class="sr-only">{{task.taskProgress}}% Complete (success)</span>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="dropdown-divider"></li>
    <li>
      <a class="text-center" href="#">
        <strong>See all tasks</strong>
      </a>
    </li>
  </ul>
  <!-- /.dropdown-tasks -->
</li>