<div class="container-fluid">
  <div class="row">
  <div class="col-sm-12">
    <div [hidden]="!chart">
      <canvas id="canvas" style="width:70%">{{ chart }}</canvas>
    </div> 
    <div *ngIf="clusterInfo == null" style="text-align:center">
      <div style="vertical-align: middle"><font color=red><b>No data available</b></font></div>
    </div>
  </div>
  </div>
  </div>
  