<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-light" style="background: linear-gradient(to right,rgb(106, 153, 240), rgb(4, 4, 37));
  padding-top:0px; padding-bottom:3px;">
    <a class="navbar-brand" href="#">
      <div style="font-size: 1.2em; font-weight: bold; font-family: Arial, Helvetica, sans-serif; color:black">Bits Dissertation

      </div>
      <span class="navbar-text" style="font-size: .8em; font-weight: bold; font-family: headerfont; color:white;">
        iCLUSTER&nbsp;&nbsp;Incident&nbsp;&nbsp;Dashboard
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="nav navbar-top-links" style="width:100%">
        <div class="container">
          <div class="row" style="height: 25px;"> 
            <div class="col-sm-12">
              <div style="float:right">
                <app-alert></app-alert>
                <app-task></app-task>
                <app-notification></app-notification>
                <app-profile></app-profile>
              </div>
            </div>
          </div>


          <div class="row">
            <!-- <div class="offset-sm-4 col-sm-4" style="padding-top: 5px; padding-right: 0px;">
              <form class="form-inline" style="float:right">
                <input class="form-control-sm mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="font-size: .8rem;
                line-height: 1.0;">
                <button class="btn btn-sm btn-outline-primary my-2 my-sm-0" type="submit" style="font-size: .8rem;
                line-height: 1.0;">
                  <span class="fa fa-search fa-fw"></span>
                </button>
              </form>
            </div> -->
            <!-- <div class="col-sm-4" style="padding-top: 10px; padding-right: 0px;">
              <button type="button"  class="btn btn-sm btn-primary" style="float:right; font-size: .8rem;
                line-height: 1.0; margin-right:10px;" (click)="onConfigureClick()">
                <span class="fa fa-gear fa-fw"></span>Configuration</button>
                <button type="button"  class="btn btn-sm btn-primary" style="float:right; font-size: .8rem;
              line-height: 1.0; margin-right:10px;" (click)="onManageClick()">
                  <span class="fa fa-wrench fa-fw"></span>Manage</button>
                  <button type="button"  class="btn btn-sm btn-primary" style="float:right; font-size: .8rem;
                    line-height: 1.0; margin-right:10px;" (click)="onSelfClick()">
                    <span class="fa fa-user fa-fw"></span>Self service</button>
            </div> -->
            <div class="offset-sm-4 col-sm-4" style="padding-right: 0px;">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item" [ngClass]="{'active': activeItem === 'home'}" style="padding-right:10px" (click)="setActive('home')">
                  <a class="nav-link" href="#/home">Home
                    <!--<span class="sr-only">(current)</span> -->
                  </a>
                </li>
                <li class="nav-item" [ngClass]="{'active': activeItem === 'chart'}" style="padding-right:10px" (click)="setActive('chart')">
                  <a class="nav-link" href="/#/home/charts/cluster">Charts</a>
                </li>
                <li class="nav-item dropdown" style="padding-right:10px">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Reports
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">First Report</a>
                    <a class="dropdown-item" href="#">Another Report</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Link to further info</a>
                  </div>
                </li>
                <li class="nav-item" style="padding-right:10px">
                  <a class="nav-link disabled" href="#">Analytics</a>
                </li>
              </ul>
            </div>


            <div class="col-sm-3" style="padding-top: 10px;">
              <form class="form-inline" style="float:right">
                <input class="form-control-sm mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="font-size: .8rem;
                line-height: 1.0;">
                <button class="btn btn-sm btn-outline-primary my-2 my-sm-0" type="submit" style="font-size: .8rem;
                line-height: 1.0;">
                  <span class="fa fa-search fa-fw"></span>
                </button>
              </form>
            </div>


          </div>
        </div>
      </ul>
    </div>
  </nav>

</div>