<li class="dropdown" style="float:left;">

  <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <img src="assets/images/Nasta.png" style="width: 40px; height: 40px;  border-radius: 50%;">
  </a>
  <div class="dropdown-menu dropdown-user" style="width:175px;left:auto; right:0">

      <button class="dropdown-item" type="button"><i class="fa fa-language fa-fw"></i> Languages</button>
      <button class="dropdown-item" type="button"><i class="fa fa-user fa-fw"></i> User Profile</button>
      <button class="dropdown-item" type="button"><i class="fa fa-gear fa-fw"></i> Settings</button>
      <div class="dropdown-divider"></div>
      <button class="dropdown-item" type="button" (click)="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</button>

    
  </div>
  <!-- /.dropdown-user -->
</li>