.navbar-collapse {
    float: left;
    width: 100%;
    clear: both;
  }

  @media (min-width: 768px) {
    .navbar-right {
      margin-top: -50px;
    }
  }

  .dropdown-toggle .fa {
    font-size:14px;
    color: white;
    transition-timing-function: ease-in-out;
    transition: all .4s ease-in-out;
  }


  .dropdown-toggle .fa:hover {
    background-color: transparent;
    color: orange;
    transform: scale(1.5, 1.5);

  }

  .navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
  }

  .navbar-top-links .dropdown-menu li {
    display: block;
  }

  .navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
  }

  .dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
  }

  .dropdown-toggle::after {
    color:white;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.profileimage .dropdown-toggle::after {
    color:black;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

  .navbar-top-links .dropdown-menu li a div {
    white-space: normal;
  }