<footer class="navbar-fixed-bottom" style="height: 50px; margin-bottom: 2px;">
  <div style="color:white; background-color:rgb(9, 9, 94); font-size:.9em; height:100%; padding-top:10px">
    <div class="pull-left">
      <a href="#" class="loginLink" ng-click="loginEntry('login');">FAQs</a> |
      <a href="#" class="loginLink" ng-click="loginEntry('register');">Contacts</a>
    </div>
    <div class="pull-right" style="padding-right:10px">
        <a href="#" class="loginLink" ng-click="loginEntry('login');">iCluster</a>
    </div>
  </div>
</footer>