

<div class="container-fluid" style="background-color:rgb(2, 7, 75);">
  <div class="row">
    <div class="col-sm-12">
        <div style="height:100vh">
            <div style="font-family: Century Gothic,serif;
              text-align: center;
              padding-top : 10%;
              color : white;
              margin-bottom:20px;
              font-size:32px;     
              letter-spacing: 4px;">Bits WILP<br><div style="font-size: .5em">iCluster</div></div>
              <div class="class_box_shadow">
                <span ng-show="!form.username.$error.required && !form.password.$error.required && errorMsg" class="msg_block">{{errorMsg}}</span>
                <span ng-show="(form.username.$dirty && form.username.$error.required) || (form.password.$dirty && form.password.$error.required)" class="msg_block_2"></span>
                 <!-- <span ng-show="loginError" class="msg_block">{{errorMsg}}</span> -->
              <form method="post" name="form" ng-submit="login()" class="rtbmlogin">  
               
               <div id="loginp">
                  <label for="login">UserID:</label>
                  <input type="email" ng-keypress="errorMsg=null" name="username" id="login" placeholder="myId" autocomplete="off"  [(ngModel)]="userId" required>      
                </div>
            
                <div id="loginp">
                  <label for="password">Password:</label>
                  <input type="password" ng-keypress="errorMsg=null" name="password" id="password"  [(ngModel)]="password" required>      
                </div>
            
                 <div id="loginp"  class="login-submit">
                  <button type="submit" class="login-button" (click)="login()">Login</button>
               </div>
            
                <div id="loginp" class="forgot-password">
                    <a href="#" data-toggle="popover" title="Popover Header" data-content="Please contact system administrator">Forgot password</a>
                    </div>
              </form>
              
              </div> 
              <div align="right" style="color:white; margin-top:10%">
                Powered by <a href="https://bits-pilani-wilp.ac.in/" target="Bits WILP">Bits WILP</a>
                </div>        
          
        </div>
    </div>
      
  </div>
  
 
</div>