<style>
  @import url('https://fonts.googleapis.com/css?family=Titillium+Web');
</style>

<div class="container-fluid" style="margin:1% 0%; min-height:95%">
  <div class="row">
    <div class="col-sm-12">
        <div style="text-align: center"> <img src="assets\images\python.jpg"> </div>
    </div>
  </div>
  

 
</div>