<li class="dropdown" style="float:left; margin-right:25px">
  <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <i class="fa fa-circle-o faa-burst animated" style="margin-right:-19px; margin-top:-5px; font-size:22px"></i>
    <i class="fa fa-bell fa-fw"></i>
    <span>{{notifications.length}}</span>
  </a>
  <ul class="dropdown-menu dropdown-alerts" style="width:350px;left:auto;right:0">
    <li *ngFor="let notification of notifications">
      <a href="#">
        <div>
          <i class="fa fa-upload fa-fw"></i> {{notification.notificationName}}
          <span class="pull-right text-muted small">{{notification.notificationDate}}</span>
        </div>
      </a>
    </li>
    <li class="dropdown-divider"></li>

    <!-- <li class="dropdown-divider"></li> -->
    <li>
      <a class="text-center" href="#">
        <strong>See all notifications</strong>
      </a>
    </li>
  </ul>
  <!-- /.dropdown-alerts -->
</li>