<li class="dropdown" style="float:left; margin-right:15px; margin-top:-1px;">
  <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <i class="fa fa-envelope fa-fw"></i>
    <span>{{alerts.length}}</span>
  </a>
  <ul class="dropdown-menu" style="width:310px; left:auto; right:0;">
    <li *ngFor="let alert of alerts">
      <a href="#">
        <div>
          <strong>{{alert.alertName}}</strong>
          <span class="pull-right text-muted">
            <em>{{alert.alertTime}}</em>
          </span>
        </div>
        <div>{{alert.alertDesc}}</div>
      </a>
    </li>


    <!-- <li class="dropdown-divider"></li> -->
    <li>
      <a class="text-center" href="#">
        <strong>Read all messages</strong>
      </a>
    </li>
  </ul>
  <!-- /.dropdown-messages -->
</li>