.navbar-collapse {
  float: left;
  width: 100%;
  clear: both;
}

@media (min-width: 768px) {
  .navbar-right {
    margin-top: -50px;
  }
}

.dropdown-toggle .fa {
  font-size:14px;
  color: white;
  transition-timing-function: ease-in-out;
  transition: all .4s ease-in-out;
}


.dropdown-toggle .fa:hover {
  background-color: transparent;
  color: orange;
  transform: scale(1.5, 1.5);

}

.dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}

.dropdown-menu li {
  display: block;
}

.dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}

.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  font-size:.9em;
}

.dropdown-toggle::after {
display:none;
}

.profileimage .dropdown-toggle::after {
  color:black;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

.dropdown-menu li a div {
  white-space: normal;
  font-size:.9em;
}


li a span{
  display: inline-block;
  min-width: 10px;
  padding: 2px 4px;
  color: #fff;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  border-radius: 13px;
  text-shadow: none;
  line-height: 11px;
  background-color: #e85656;
  position: absolute;
  top: -5px;
  right: -14px;
  font-size: 11px;
}